<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ address.city }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAddressModal()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-item menuClose detail-none>Close Menu</ion-item>
    </ion-list>
  </ion-content>
  
</ion-menu>

<ion-nav id="nav" #mycontent [root]="rootPage"></ion-nav>

<!--<ion-nav #mycontent>test</ion-nav>-->

<ion-content>
  <div class="main" *ngIf="cityPhoto" [style.background-image]="cityPhotoUrl">
  <ion-grid *ngIf="current">

    <div class="weather-box">

      <ion-row>
        <ion-col>
          <h3 class="desc">{{ current.summary }}</h3>
          <div text-center *ngIf="minutely">
            {{ minutely.summary }}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-30  class="icon-wrapper">
          <div class="icon">
            <i class="wi wi-{{ current.icon }}"></i>
          </div>
        </ion-col>

        <ion-col width-70>
          <h1 class="temp margin0">{{ (current.temperature).toFixed(1) }}&deg;</h1>
          <p class="weather-feels"><strong>Feels like:</strong> {{ current.apparentTemperature }}&deg;C</p>
        </ion-col>
      </ion-row>

      <!--<div>
        <div (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
          <ion-row>
            <ion-col>
              <p>{{ minutely ? minutely.summary : hourly.summary }}</p>
            </ion-col>
            <ion-col text-right>
              <h3>
                <ion-icon color="success" [name]="isGroupShown(i) ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
          <div *ngIf="isGroupShown(i)">-->

            <ion-row text-center>
              <ion-col *ngIf="current.precipProbability > 0">
                <div>
                  <i [class]="current.precipType == 'rain' ? 'wi-umbrella wi today-details' : 'wi-snowflake-cold wi today-details'"></i><br />
                  {{ current.precipProbability }} {{ current.precipType }}
                </div>
              </ion-col>
              <ion-col>
                <div><i class="wi wi-humidity today-details"></i><br />{{ current.humidity }}%</div>
              </ion-col>
              <ion-col>
                <div><ion-icon name="eye" class="today-details"></ion-icon><br />{{ current.visibility }} km</div>
              </ion-col>
              <ion-col>
                <div><i class="wi wi-wind-icon from-{{ current.windBearing }}-deg today-details"></i><br />{{ current.windSpeed }} kmh</div>
              </ion-col>
              <ion-col>
                <div><i class="wi wi-barometer today-details"></i><br />{{ current.pressure }}</div>
              </ion-col>
            </ion-row>

          <!--</div>
        </div>
      </div>-->


      <ion-row>
        <ion-col>
          <h6 class="date">
            <span>{{ currentDate.day }}</span>
            {{ currentDate.date }}
          </h6>
        </ion-col>

        <ion-col class="timeWrapper">
          <h6 class="time">
            {{ currentTime }}
          </h6>
        </ion-col>
      </ion-row>

    </div>

    <div class="weather-box">
      <ion-row class="current-details" (click)="showForecastHourlyDetails()">
        <ion-col>
          <ion-row>
            <ion-col width-90>
              {{ hourly.summary }}
            </ion-col>
            <ion-col text-right><ion-icon name="information-circle"></ion-icon></ion-col>
          </ion-row>

          <ion-row class="forecast">
            <ion-col *ngFor="let hour of hourly.data">
              <div class="forecast-hourly-day">
                <!--<span *ngIf="forecastDate(hour.time).time === '12 AM'">-->
                  {{ forecastDate(hour.time).day }}
                <!--</span>-->
              </div>
              <div class="forecast-time">
                {{ forecastDate(hour.time).time }}
              </div>
              <div class="icon">
                <i class="wi wi-{{ hour.icon }}"></i>
              </div>
              <div>{{ hour.temperature }}&deg;</div>
              <!--<div class="forecast-day">{{ forecastDate(hour.date).day }}</div>
              <div class="forecast-date">{{ forecastDate(hour.date).date }}</div>-->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <div class="weather-box">
      <ion-row class="current-details" (click)="showForecastDailyDetails()">
        <ion-col>
          <ion-row>
            <ion-col width-90>
              {{ daily.summary }}
            </ion-col>
            <ion-col text-right><ion-icon name="information-circle"></ion-icon></ion-col>
          </ion-row>

          <ion-row class="forecast">
              <ion-col *ngFor="let day of daily.data">
                <div class="forecast-day">
                  <!--<span *ngIf="forecastDate(hour.time).time === '12 AM'">-->
                    {{ forecastDate(day.time).month }}
                  <!--</span>-->
                </div>
                <!--<div class="forecast-time">
                  {{ forecastDate(hour.time).time }}
                </div>-->
                <div class="icon">
                  <i class="wi wi-{{ day.icon }}"></i>
                </div>
                <div>
                  <i class="wi wi-direction-up"></i>
                  {{ day.temperatureMax }}
                </div>
                <div>
                  <i class="wi wi-direction-down"></i>
                  {{ day.temperatureMin }}
                </div>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <!--<ion-row class="forecast">
      <ion-col width-33  *ngFor="let day of forecastWeek">
        <div class="weather-box">
          <ion-row>
            <ion-col width-50>
              <div class="icon" *ngIf="day.Timeframes[4]"><img src="/assets/icon/{{day.Timeframes[4].wx_icon}}"></div>
            </ion-col>

            <ion-col width-50>
              <p class="forecastMax"><i class="wi wi-direction-up"></i> {{day.temp_max_c}}&deg;</p>
              <p class="forecastMin"><i class="wi wi-direction-down"></i> {{day.temp_min_c}}&deg;</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="forecast-day">{{ forecastDate(day.date).day }}</div>
              <div class="forecast-date">{{ forecastDate(day.date).date }}</div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>-->


<!--     <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Temp: </strong> {{ weather.temp_c }}&deg;C ({{ weather.temp_f }}&deg;F)
          </ion-item>
          <ion-item>
            <strong>Relative Humidity: </strong> {{ weather.humid_pct }}%
          </ion-item>
          <ion-item>
            <strong>Dewpoint: </strong>  {{weather.dewpoint_c}}&deg;C ({{ weather.dewpoint_f }}&deg;F)
          </ion-item>
          <ion-item>
            <strong>Visibility: </strong> {{ weather.vis_km }} km
          </ion-item>
          <ion-item>
            <strong>Wind: </strong> {{ weather.windspd_kmh }} km/h
          </ion-item>
          <ion-item>
            <strong>Wind Direction: </strong> {{ weather.winddir_compass }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col width-100>
        <div class="last-updated">
          <button ion-button clear (click)="getDefaultLocation()">
            <ion-icon name="refresh"></ion-icon>
          </button>
          <span>Last updated on {{ updatedDate }}</span>
        </div>
        <div class="legal-note">
          <!-- <p><a href="http://www.myweather2.com">Weather provided by MyWeather2.com</a></p> -->
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>
</ion-content>
